{% extends 'base.html' %}
{% load static %}
<title>{% block title %}Your Profile — AutoFleetX 🚕{% endblock %}</title>

{% block head %}
<link rel="stylesheet" 
href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" 
integrity="sha512-AUvo/r1Ik0Ft3M1/NbyMeKXbFT9B5WS7gCZvMgxGL3iQFbJ3OZ6ev5mxk3Ieg9HL2L5kIq1kBtZszO1DxM8N2Q==" 
crossorigin="anonymous" referrerpolicy="no-referrer" />
{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'styles/profile.css' %}">
{% endblock %}

{% block content %}
{% if user.is_superuser %}
    {% include 'main_app/admin/admin-search-form.html' %}
{% else %}
    {% include 'common-search-form.html' %}
{% endif %}


<section id="profile-section">    
  <div class="message">
      {% if messages %}  
        {% for message in messages %}
          {% if "profile-updated" in message.tags or "amount-added-to-wallet" in message.tags or "returned-by-user" in message.tags %}
            <div class="alert alert-success">{{ message }}</div>
          {% elif  "address-required" in message.tags or "error-message" in message.tags or "empty-profile" in message.tags or "no-changes" in message.tags or "profile-invalid" in message.tags %}
            <div class="alert alert-warning">{{ message }}</div>
          {% endif %}
        {% endfor %}
      {% endif %}
  </div>
  <div class="profile-container">
    <h2 class="profile-heading">
      {% if user.is_superuser %}Admin Profile{% else %}My Profile{% endif %}
    </h2>

    <!-- Profile Information -->
    <div class="profile-info">
      <div class="profile-form" >
        <label>Email</label>
          {{ profile_form.email }}
      </div>
      <form method="POST" action="{% url 'profile' %}" class="profile-form">
        {% csrf_token %}
        
        {% if user.is_superuser %}
          

          <label>Admin Username</label>
          {{ profile_form.username }}

          <label>First Name</label>
          {{ profile_form.first_name }}

          <label>Last Name</label>
          {{ profile_form.last_name }}

          <label>Admin Account Balance</label>
          {{ profile_form.balance }}

          <label>Main Branch Address</label>
          {{ profile_form.address }}
        {% else %}
          

          <label>Username</label>
          {{ profile_form.username }}

          <label>First Name</label>
          {{ profile_form.first_name }}

          <label>Last Name</label>
          {{ profile_form.last_name }}

          <label>Account Balance</label>
          {{ profile_form.balance }}

          <label>Address</label>
          {{ profile_form.address }}
        {% endif %}

        <button type="submit" name="profile_info_submit" class="btn-primary">
          <i class="fas fa-save"></i> Save
        </button>
      </form>
    </div>

    <!-- Add Balance Form -->
    <form method="POST" class="balance-form" action="{% url 'profile' %}">
      {% csrf_token %}
      <label>Add To Balance</label>
      <div class="form-control">{{ form.amount }}</div>
      <button name="balance_submit" type="submit" class="btn-primary">
        <i class="fas fa-wallet"></i> Add Balance
      </button>
    </form>

    <!-- Change/Set Password -->
    {% if not user.is_superuser %}   
        <section id="set-password">       
          <div class="update-password">
            {% if user.has_usable_password %}
              <a href="{% url 'pass-manager' %}" class="btn-secondary">
                <i class="fas fa-lock"></i> Change Password
              </a>
            {% else %}
              <a href="{% url 'pass-manager' %}" class="btn-secondary">
                <i class="fas fa-lock"></i> Set Password
              </a>
            {% endif %}
          </div>
        </section>  

      <div class="back-to-home">
        <a href="{% url 'home' %}" class="btn-link">
          <i class="fas fa-arrow-left"></i> Home
        </a>
      </div>
    {% endif %}

  </div>
</section>



{% endblock %}
